body {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    background-color: rgba(12, 85, 153, 0.555);
}

.header-container {
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 34px;
}

.container {
    font-size: 0;
    /* Remove whitespace between inline-block elements */
    max-width: 1166px;
    width: 100%;
    cursor: pointer;
    margin: 0 auto;
}

.container li {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    /* Reset font size for paragraphs */
    vertical-align: top;
    /* Align elements to the top */
    height: 147px;
    color: white;
    font-size: 22px;
    border: 1.5px solid white;
    box-sizing: border-box;
    

}

li{
    opacity: 0.7;
}

li:hover{
    opacity: 3; /* Change opacity on hover */
}

.container-ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    
}

span.city {
    display: block;
    margin-bottom: 0;
    line-height: 4rem;

}

span.temperature,
img {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin-bottom: 20px;

}

.div-footer {
    
    width: 100%;
    margin: 0 auto;
    margin-top: 34px;

}

.footer-paragraph {
    color: white;
    font-size: 16px;
}

li:nth-child(1) {
    background-color: #3399CC;
    text-align: center;
    width: 50%;
    
    
}

li:nth-child(2) {
    background-color: #33CCCC;    
    width: 25%;

}

li:nth-child(3) {
    background-color: #996699;
    
}

li:nth-child(4) {
    background-color: #C24747;
    
}

li:nth-child(5) {
    background-color: #E2674A;
    
}

li:nth-child(6) {
    background-color: #FFCC66;
    width: 25%;
}

li:nth-child(7) {
    background-color: #99CC99;
    
}

li:nth-child(8) {
    background-color: #669999;
    
}

li:nth-child(9) {
    background-color: #CC6699;
    text-align: center;
    width: 50%;
    margin: 0;

}

li:nth-child(10) {
    background-color: #339966;
    
}

li:nth-child(11) {
    margin: 0;
    background-color: #666699;
    text-align: center;
    width: 100%;
}

li:not(:nth-child(1)):not(:nth-child(9)):not(:nth-child(11)) {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    width: 25%;
}

*{transition: all .1s ease-in;}
  